body {
    background-color: #333;
    color: white;
    overflow: hidden;
}

background {
    position: absolute;
    left: 0%;
    width: 100%;
    top: 0%;
    height: 100%;
}

.center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 450px;
    padding: 10px;
    border-radius: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
}

.centerForm {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform-origin: center;
    width: 550px;
    height: 550px;
    padding: 10px;
    border-radius: 16px;
    line-height: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    box-shadow: 0px 0px 50px 1px grey;
    transition: 1s;
}

.center input {
    border-bottom: solid 2px grey;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    margin-top: 40px;
    background-color: transparent;
    color: white;
}

    .center input:focus {
        outline: none;
    }

.center h1 {
    font-family: Roboto;
    font-size: 48px;
    margin-top: 32px;
}

.center button {
    font-size: 24px;
    border-radius: 20px;
    margin-top: 32px;
    width: 256px;
    height: 48px;
    margin-bottom: 32px;
    border: none;
    background: #642B73;
    background: -webkit-linear-gradient(to bottom, #C6426E, #642B73);
    background: linear-gradient(45deg, #C6426E, #642B73);
    color: white;
    cursor: pointer;
}

    .center button:hover {
        outline: solid 2px white;
    }

.center span {
    font-family: Candara;
    font-size: 18px;
    margin-bottom: 32px;
}

.center a {
    text-decoration: solid;
    text-decoration-line: underline;
    color: white;
}

    .center a:visited {
        color: white;
    }

.formContainer {
    animation: start 2s ease 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform-origin: center;
    width: fit-content;
    height: fit-content;
}

.loginFailed {
    animation: loginFailed 1s 1;
}

    .loginFailed .centerForm {
        box-shadow: 0px 0px 10px 1px red;
        transition: 1s;
    }

.loginSuccessfull {
    animation: loginSuccessfull 1s 1;
}

    .loginSuccessfull .centerForm {
        box-shadow: 0px 0px 10px 1px lime;
        transition: 1s;
    }

.rotate {
    animation: 3s rotate infinite linear;
}

@keyframes start {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(180deg);
    }
}

@keyframes loginSuccessfull {
    0% {
        transform: translate(-50%, -50%) rotate(0deg) scale(1);
    }

    30% {
        transform: translate(-50%, -50%) rotate(180deg) scale(0.1);
    }

    100% {
        transform: translate(-50%, -50%) rotate(180deg) scale(2);
    }
}

@keyframes loginFailed {
    from {
        transform: translate(-50%, -50%) rotate(180deg);
    }

    to {
        transform: translate(-50%, -50%) rotate(90deg);
    }
}